<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/basic.css">
  <title></title>
</head>
<body>
<div id="index">
    <p>About this page, blah blah. I need content and some help to fit into the styling. Click <a href="#moz/878253">here</a> to see what a bug report looks like.</p>
</div>
<img src="images/main-loader.gif" id="main-loader">
<div id="buginfo">
  <header class="general">
    <script type="text/template" id="header-tmpl">
      Web Compatibility Error Report for <span class="domain"><%= domain %></span>
    </script>
  </header>
  <article>
    <section id="basic">
    <!-- Basic Intro Boilerplate -->
    <p>Users have reported a <strong>problem with your website</strong> not working properly for <a href="http://www.mozilla.org/">Mozilla</a> Firefox Browsers. You may be <strong>able to help</strong>. If you know someone, potentially in the Communications, Marketing or Technology departments, please pass along this information.</p>
    <p>The technical description of the problem and a suggested fix are provided below. A volunteer or an employee will help through the process of fixing the issue.</p>
    <p id="url">
      <script type="text/template" id="url-tmpl">
        <span class="url_label">URL</span> <a class="url" href="<%= url %>"><%= url %></a>
      </script>
    </p>
    </section>
    <section id="description">
      <script type="text/template" id="description-tmpl">
        <pre><%= description %></pre>
      </script>
    </section>
    <section id="suggestedfix">
      <img class="loader" src="images/loader.gif">
      <script type="text/template" id="suggestedfix-tmpl">
        <pre><%= suggestedfix %></pre>
      </script>
    </section>
    <section id="information" title="more information">
      <img class="loader" src="images/loader.gif">
      <script type="text/template" id="information-tmpl">
        Comment on the <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=<%= bugID %>">bug</a>.
      </script>
    </section>
  </article>
  </div>
  <script src="scripts/jquery-1.11.0.min.js"></script>
  <script src="scripts/underscore-min.js"></script>
  <script src="scripts/backbone-min.js"></script>
  <script src="scripts/simplebug.js"></script>
</body>
</html>